#container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 15vh 15vh 10vh;
}

#container .titulo{
    grid-row: 1/1;
    grid-column: 1/1;
    text-align: center;
    background-color: aquamarine;
}

#container .foto{
    grid-row: 2/2;
    grid-column: 1/1;
}

#container .foto2{
    grid-row: 3/3;
    grid-column: 1/1;
}

#container .pie{
    grid-row: 4/4;
    grid-column: 1/1;
    text-align: center;
    background-color: aquamarine;
}

img{
    height: 100%;
    width: 15%;
}
